// section twitter
// custom tracking
link(rel='stylesheet', href='/public/stylesheets/custom_tracking.css')

// content
section(id="twitter" class="home-section text-center")
  div(class="heading-about")
    div(class="container")
      div(class="row")
          div(class="col-lg-8 col-lg-offset-2")
            div(class="wow bounceInDown" data-wow-delay="0.2s")
              div(class="section-heading")
                h2 #{twitter_title}
                i(class="fa fa-2x fa-angle-down")

                h3 #{twitter_tweets_tracking_title}
                p #{twitter_tweets_tracking_keywords_title}: Taiwan Election, Tsai Ing-wen, Eric Chu, James Soong, Ma Ying-jeou, 台灣選舉, 蔡英文, 朱立倫, 宋楚瑜, 馬英九, 國民黨, 民進黨, 親民黨
                br
                ul(id="tweet_list" class="list-group" style="max-height: 200px; overflow:auto;")

              // condition for switching blocks & pass variables to javascript via jade
              script.
                window.is_mobile = #{is_mobile};
              if (!is_mobile)
                span(id="tweets_peak")
                div
                  div(class="onoffswitch" style="margin:10px auto;")
                    input(id="tracking_alert_onoffswitch" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" checked="")
                    label(class="onoffswitch-label" for="tracking_alert_onoffswitch")
                      span(class="onoffswitch-inner")
                      span(class="onoffswitch-switch")

                div(id="twitter_stream_chart")
                div(id="high_peak_alert")

  div(class="container")
    div(class="row")
      h2 #{twitter_twitter_map_title}
      div(id="tweets_map")
      div(id="map_tip")
