// section contact
section(id="contact" class="home-section text-center")
  div(class="heading-contact")
    div(class="container")
      div(class="row")
       div(class="col-lg-8 col-lg-offset-2")
        div(class="wow bounceInDown" data-wow-delay="0.2s")
          div(class="section-heading")
            h2 #{contact}
            i(class="fa fa-2x fa-angle-down")
            p #{contact_description}

  div(class="container")
    div(class="row")
      div(class="col-lg-2 col-lg-offset-5")
        hr(class="marginbot-50")

    div(class="row")
      div(class="col-lg-9")
        div(class="boxed-grey")
          form(id="contact_form" action="/services/send_email" method="post")
            div(class="row")
              div(class="col-md-6")
                div(class="form-group")
                  label(for="name") #{contact_info_name.contact_info_name_title}
                  input(type="text" class="form-control" id="sender_name" name="sender_name" placeholder="#{contact_info_name.contact_info_name_field_placeholder}" required="required")

                div(class="form-group")
                  label(for="email") #{contact_info_email.contact_info_email_title}
                  div(class="input-group")
                    span(class="input-group-addon")
                      span(class="glyphicon glyphicon-envelope")
                    input(type="email" class="form-control" id="sender_email" name="sender_email" placeholder="#{contact_info_email.contact_info_email_field_placeholder}" required="required")


                div(class="form-group")
                  label(for="subject") #{contact_info_subject.contact_info_subject_title}
                  select(id="email_subject" name="email_subject" class="form-control" required="required")
                    option(value="na" selected="") #{contact_info_subject.contact_info_subject_options_title}:
                    option(value="general_customer_service") #{contact_info_subject_options.general_question}
                    option(value="suggestions") #{contact_info_subject_options.suggestion}

              div(class="col-md-6")
                div(class="form-group")
                  label(for="name") #{contact_message.message_title}
                  textarea(name="email_message" id="email_message" class="form-control" rows="9" cols="25" required="required" placeholder="#{contact_message.message_placeholder}")

              div(class="col-md-12")
                button(type="submit" class="btn btn-warning pull-right" id="btnContactUs") #{contact_message.message_submit_btn}
    
      div(class="col-lg-3")
        div(class="widget-contact")
          h5 #{contact_main_office.title}:

          address
            strong #{contact_main_office.taiwan_title}
            br
            abbress(title="address") #{contact_main_office.address_title}:
              span &nbsp;#{contact_main_office.taiwan_address}

          address
            strong #{contact_main_office.usa_title}
            br
            abbress(title="address") #{contact_main_office.address_title}:
              span &nbsp;#{contact_main_office.usa_address}
            br
            mobile(title="mobile_phone") #{contact_main_office.mobile_title}:
              a(href="tel:1 (408) 565-5133" target="_blank") &nbsp;#{contact_main_office.usa_mobile}

          address
            strong #{contact_main_office.email_title}
            br
            a(href="mailto:#{contact_main_office.email_address}" target="_blank") #{contact_main_office.email_address}

          address
            strong #{contact_main_office.get_connected_on_socail_networks_title}
              br
              ul(class="company-social")
                li(class="social-facebook")
                  a(href="https://www.facebook.com/rainman.tai" target="_blank")
                    i(class="fa fa-facebook")
                li(class="social-twitter")
                  a(href="https://twitter.com/Invisible_Alan" target="_blank")
                    i(class="fa fa-twitter")
