section(id="facebook" class="home-section text-center")
  div(class="heading-about")
    div(class="container")
      div(class="row")
          div(class="col-lg-8 col-lg-offset-2")
            div(class="wow bounceInDown" data-wow-delay="0.2s")
              div(class="section-heading")
                  h2 #{facebook_section.title}
                  i(class="fa fa-2x fa-angle-down")

              p #{facebook_section.description}

  div(class="container")
    div(class="row")
      div(class="col-lg-2 col-lg-offset-5")
        hr(class="marginbot-50")

    div(class="row")
      // tsaiingwen
      div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4")
        div(class="wow bounceInUp" data-wow-delay="0.2s")
          div(class="team boxed-green")
            div(class="inner")
              h3 #{tw_election_info.tsaiingwen.name}
              p(class="subtitle") #{tw_election_info.tsaiingwen.role}
              div(class="avatar text-center")
                img(src="/public/images/tsai-ing-wen-1.png" alt="tsai_ing_wen" class="img-responsive img-circle")
              br
              div(id="latest_post_tsaiingwen" class="fb_latest_post_info")

      // eric chu
      div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4")
        div(class="wow bounceInUp" data-wow-delay="0.2s")
          div(class="team boxed-grey")
            div(class="inner")
              h3 #{tw_election_info.llchu.name}
              p(class="subtitle") #{tw_election_info.llchu.role}
              div(class="avatar text-center")
                img(src="/public/images/eric-chu-1.png" alt="eric_chu" class="img-responsive img-circle")
              br
              div(id="latest_post_llchu" class="fb_latest_post_info")

      // james soong
      div(class="col-xs-12 col-sm-6 col-md-4 col-lg-4")
        div(class="wow bounceInUp" data-wow-delay="0.2s")
          div(class="team boxed-grey")
            div(class="inner")
              h3 #{tw_election_info.love4tw.name}
              p(class="subtitle") #{tw_election_info.love4tw.role}
              div(class="avatar text-center")
                img(src="/public/images/james-soong-1.png" alt="alan_tai" class="img-responsive img-circle")
              br
              div(id="latest_post_love4tw" class="fb_latest_post_info")

  if (!is_mobile)
    br
    div(class="container" style="margin-top: 10px;")
      div(id="fb_summary_chart" class="col-sm-6 col-xs-12")
      div(id="fb_top_keywords_relationship" class="col-sm-6 col-xs-12")
