doctype html
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if !IE]><!-->
html(lang="en" class="no-js" ng-app="myWebRTC")
  <!--<![endif]-->
  head
    base(href="/")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome")
    meta(name="apple-mobile-web-app-capable")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name='description', content='webrtc, multiple connections')
    meta(name='authors', content='Alan Tai et al.')
    meta(name='copyright', content='Copyright (c) 2014 Gogistics, Learn the Techonlogy, Connect the World™')
    meta(name="msapplication-TileImage" content="/public/images/icons/ms-icon-144x144.png")
    link(rel="manifest" href="/public/manifest.json")

    // set icons
    link(rel="apple-touch-icon" sizes="57x57" href="/public/images/icons/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/public/images/icons/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/public/images/icons/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/public/images/icons/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/public/images/icons/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/public/images/icons/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/public/images/icons/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/public/images/icons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/public/images/icons/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/public/images/icons/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/public/images/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/public/images/icons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/public/images/icons/favicon-16x16.png")

    link(rel="stylesheet" type="text/css" href='/public/stylesheets/bootstrap.min.css')
    link(rel="stylesheet" type="text/css" href='/public/stylesheets/style.min.css')

    // css block
    block css_block

    // tracking script
    script.
      /* google analytics */
    
    title #{title}
  body
    // alert for lt IE 7
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    // cover
    div(id="preloader")
      div(id="loader")

    nav(class="navbar navbar-top" role="navigation")
      div(class="container")
        h2(class="text-center") #{header}
        hr
    
    // content
    div(class="main_content")
      block main_content

    nav(class="navbar navbar-default navbar-fixed-bottom")
      div(class="navbar-header")
        p(class="navbar-brand") For technical support, please email me at
          a(href="mailto:#{footer}" target="_blank") &nbsp;#{footer}

    // 
    script(type="text/javascript" src='//code.jquery.com/jquery-1.11.3.min.js')
    script(type="text/javascript" src='/public/javascripts/socket.io-1.3.7.min.js')
    script(type="text/javascript" src='/public/javascripts/angular.1.3.15.min.js')
    script(type="text/javascript" src='/public/javascripts/adapter.min.js')
    script(type="text/javascript" src='/public/javascripts/rtc_client.min.js')
    script(type="text/javascript" src='/public/javascripts/app.min.js')

